
@import './base.css';
@import 'primeicons/primeicons.css';
@import './variables.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@theme {
  --spacing: 1px;
  --color-card-100: papayawhip;
  --color-failed-100: lightcoral;
  --color-finished-100: lightgreen;
  --color-in-progress-100: rgb(241, 239, 149);
  --color-auto-100: black;

  
  --color-main-1: #d0c8c8;
  --color-main-2: #675757;
  --color-main-3: #2f2828;
  --color-main-4: #3d403c;
  --color-main-5: #70786c;

  
  --color-contrast-1: #942d00;
  --color-contrast-2: #c34007;
  --color-contrast-3: #c3673f;
  --color-contrast-4: #b47b42;
  --color-contrast-5: #9c6a6a;
}

@font-face {
  font-family: psyfont;
  src: local(Verdana);
}

@font-face {
  font-family: psyfont;
  src: local(Arial);
  unicode-range: U+0061-0068;
}

@font-face {
  font-family: psyfont;
  src: local(Courier New);
  unicode-range: U+0069-0070;
}

@font-face {
  font-family: psyfont;
  src: local(Arial);
  unicode-range: U+0041-0048;
}

@font-face {
  font-family: psyfont;
  src: local(Courier New);
  unicode-range: U+0049-0050;
}

@font-face {
  font-family: psyfont;
  src: local(Courier New);
  unicode-range: U+0030-0040;
}


hr {
  border: solid 1px #2e2e34;
}

#app {
  width: 100%;
  margin: auto;
  padding: 2rem;
  height: 100vh;
  font-weight: normal;
  /*--color-main-4: #3d403c;
  --color-main-5: #70786c;*/
  background: #2f2828;
  overflow: hidden;
  font-family: psyfont;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #474750;
  border-radius: 10px;
  border-color: gray;
}

hr {
  margin-top: 15px;
}

a,
.green {
  text-decoration: none;
  color: lightgoldenrodyellow;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: teal;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 0;
  }
}

.nav-active {
  background-color: #2e2e34 !important;
  color: #b4ff39 !important;
  font-weight: bold;
  border-radius: 0.5rem;
}